#main {
	margin: 0em 1em 1.5em 1em;
	overflow-y: auto;
}

#main h1 {
	text-align: center
}

#main a {
	text-align: center;
	text-decoration: none;
	color: #000;
}

#main p {
	text-align: center;
}

.first {
	margin-top: 3em !important;
}

.line {
	margin-top: 0.25em;
	margin-bottom: 0em;
}

.vers {
	margin-top: 3em;
}

.italic {
	font-style: italic;
}