#main .collapsible {
	background-color: #f5cba2;
	color: #333;
	cursor: pointer;
	padding: 1.2em;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 1em;
}

#main .content {
	padding: 0em 1.2em;
	display: none;
	overflow: hidden;
	background-color: #f5cba2;
}