#main {
	margin: 0em 1em 1.5em 1em;
	overflow-y: auto;
}

#main h1 {
	text-align: center
}

#main p {
	margin-bottom: 0em;
}

#usa {
	margin-top: 3em !important;
}

.fact {
	margin-top: 0.25em;
	margin-bottom: 0em;
}

.country {
	margin-top: 6em;
}