#main {
	margin: 0em 1em 1.5em 1em;
	overflow-y: auto;
}
#main h1 {
	text-align: center
}
#main p {
	text-align: center;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.2em;
}
hr {
	border-color: #000;
	border-width: 0.03125em;
}
.content p {
	margin-top: 0em;
}