body {
    margin: 0;
    font-family: "Segoe UI";
}
.icon-bar {
    width: 100%;
    background-color: #555;
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 1.58vh 0;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 2.25em;
}
.active {
    background-color: #4CAF50;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav a {
    padding: 0.32em 0.32em 0.32em 1.28em;
    text-decoration: none;
    font-size: 1.5625em;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}