body {
    margin: 0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	background-color: #f5cba2;
}
.icon-bar {
	position: fixed;
	bottom: 0em;
    width: 100%;
	z-index: 2;
    background-color: #ab774f;
    overflow: auto;
}
.icon-bar a {
    float: left;
    width: 20%;
    text-align: center;
    padding: 1.58vh 0;
    transition: all 0.3s ease;
    color: #fff;
    font-size: 2.25em;
}
.active {
    background-color: #f37236;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ab774f;
    overflow-x: hidden;
    transition: 0.5s;
}
.sidenav a {
    padding: 0.16em 0.32em 0.16em 1.28em;
    text-decoration: none;
    font-size: 1.5em/*1.5625em*/;
    color: #fff;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}