#main {
	margin: 0em 1em 1.5em 1em;
	overflow-y: auto;
}

#main h1 {
	text-align: center
}

#main p {
	margin-bottom: 0em;
}

#dds {
	margin-top: 3em !important;
}

.unit {
	margin: auto;
}

.input {
    border: 0.2em;
    border-style: solid;
    border-color: #ab774f;
	outline: none !important;
}

hr {
	border-style: solid;
	border-color: #AB774F;
}